@import "./theme.scss";
@import "primereact/resources/themes/lara-light-blue/theme.css";

body * {
  font-family: 'Open Sans', sans-serif;
}
body img {
  object-fit: cover;
}
.p-panel .p-panel-content {
  border: none;
}
.p-tag.p-component {
  padding: 0.5rem 1rem;
}
.p-tag.p-component.p-tag-warning {
  color: var(--surface-0);
  background-color: var(--yellow-60);
}
.p-tag.p-component.p-tag-success {
  color: var(--surface-0);
  background-color: var(--green-40);
}
.p-tag.p-component.p-tag-info {
  color: var(--text-grey);
  background-color: var(--colorInfo);
}
.translate-50 {
  transform: translate(-50%, -50%);
}
.min-w-modal {
  min-width: 35rem;
}
.w-menu {
  width: 17.875rem;
}
.w-form {
  width: 35rem;
}
.shadow-lg {
  box-shadow: 0.5rem 0 1rem 0 rgba(0,0,0,0.2);
}
.max-w-table {
  max-width: 75rem;
}
.size-3 {
  width: 3rem;
  height: 3rem;
}
.transparent {
  background-color: transparent;
}
.w-150 {
  width: 9.375rem;
}
.w-300 {
  width: 18.75rem;
}
.primary-btn-gradient {
  background: linear-gradient(180deg, var(--primary-main) 0%, var(--primary-light) 100%)
}
.upload-img-size {
  width: 12.5rem;
  height: 12.5rem;
}
.w-auth {
  width: 31.25rem;
}
.text-primary-main {
  color: var(--primary-main);
}
.primary-btn {
  background-color: var(--primary-main);
}
