@import "./theme";

.ui.container.section {
  border: var(--borderWidth) solid var(--colorBorder);
  border-radius: var(--borderRadiusSx);
  width: 100%;
}
.ui.blue.header {
  color: var(--primary-main) !important;
}
.border-l {
  border-left: var(--borderWidth) solid var(--colorBorder);
}
.m-2, m-2.ui.header {
  margin: 2rem !important;
}
.p-2 {
  padding: 2rem !important;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.chart-list {
  height: 100%;
  & .list {
    height: 100%;
  }
  & .list.ui .item {
    & h3.ui.header {
      margin: 1rem 0;
    }
    & h5.ui.header {
      margin-bottom: 1rem;
    }
  }
}
.menu-section.ui.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  padding: 3rem;
  width: 320px;
  box-shadow: 0.5rem 0 1rem 0 rgba(0,0,0,0.2);
}
.menu-list.ui.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.menu-padding {
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.ui.table .ui.tiny.image {
  height: 30px;
  object-fit: cover;
}
.relative {
  position: relative;
}
.ui.text.vertical.table-menu.menu {
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: -4rem;
  background-color: #fff;
  border-radius: var(--borderRadiusSx);
  width: 20rem;
  box-shadow: 5px 3px 15px 2px rgba(0,0,0,0.3);
}
.ui.fixed.table td,
.ui.fixed.table th {
  overflow: visible;
}
.ui.input input,
.ui.fluid.dropdown {
  border-radius: 20px;
}
.ui.primary.button {
  border-radius: 20px;
  background-color: var(--primary-main);
}
.field {
  margin-bottom: 2rem;
}
