:root {
  --primary-main: #1D2992;
  --primary-light: #237DBF;
  --yellow-60: #FFD13D;
  --green-40: #27AE60;
  --text-grey: #495057;
  --colorInfo: #A3A3A3;
  --colorBorder: #bdbdbd;
  --borderWidth: 0.125rem;
  --borderRadiusSx: 1rem;
}
